//====================================================================================================
.wrapper {
  background: $mainColor;
}
.hero {
  background: $yellow;

  height: 100vh;
  max-height: -webkit-fill-available;

  position: relative;
  z-index: 1;
  @media (max-width: $mobile) {
  }
  &__scroll-icon {
    position: absolute;
    left: 50%;
    bottom: 20px;
    width: toRem(64);
    height: toRem(64);
    transform: translate(-50%, 0px);
    transition: bottom 0.3s;
    animation: move 1.3s infinite ease-in-out;
  }
  @keyframes move {
    0%,
    100% {
      bottom: 20px;
    }
    50% {
      bottom: 10px;
    }
  }
  // .hero__container
  &__container {
    position: relative;
    width: 100%;
    height: 100%;
  }
  // .hero__content
  &__content {
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  // .hero__logo
  &__logo {
    margin-left: -40px;
    max-width: 906px;
    @include adaptiveValue("margin-bottom", 50, 30);
    // @media (max-height: 769px) {
    //   max-height: 350px;
    // }
    @media (max-width: $tablet) {
      margin-left: -20px;
      @include adaptiveValue("max-width", 720, 300, 0, 991.98, 375);
    }
  }
  // .hero__title
  &__title {
    @include adaptiveValue("font-size", 64, 50);
    font-weight: 700;
    line-height: 70%;
    letter-spacing: -1.92px;
    text-transform: uppercase;
    @include adaptiveValue("margin-bottom", 44, 24);
    opacity: 0;
    &.animation-inited {
      opacity: 1;
    }
    .char {
      display: inline-block;
      opacity: 0;
      -webkit-transform: translateY(20px);
      -ms-transform: translateY(20px);
      transform: translateY(20px);
    }
    @media (max-width: $tablet) {
      letter-spacing: -1px;
      line-height: 100%;
    }
  }
  // .hero__subtitle
  &__subtitle {
    font-family: "Rubik";
    @include adaptiveValue("font-size", 28, 24);
    line-height: 120%;
    letter-spacing: -1.68px;
    @media (max-width: $tablet) {
      letter-spacing: -1px;
    }
    @media (max-width: $mobileSmall) {
      letter-spacing: -0.5px;
    }
  }
}

//====================================================================================================
.content {
  background: $mainColor;
  @include adaptiveValue("padding-top", 85, 40);
  padding-bottom: toRem(64);
  position: relative;
  &-first {
    z-index: 3;
    @include adaptiveValue("padding-bottom", 90, 40);
  }
  &-second {
    @include adaptiveValue("padding-top", 90, 40);
    z-index: 3;
  }
  // .content__container
  &__container {
    text-align: center;
  }
  // .content__title
  &__title {
    font-family: "Rubik Mono One";
    line-height: 100%;
    letter-spacing: -1.08px;
    margin-bottom: toRem(20);
  }
  // .content__video-wrap
  &__video-wrap {
    position: relative;
    margin-bottom: toRem(22);
    &.blue-border {
      margin-top: toRem(65);
      @media (max-width: $mobile) {
        margin-top: 0;
      }
    }
  }
  // .content__video-iframe
  &__video-iframe {
    aspect-ratio: 928/522;
    border: 0;
  }
  // .content__video-image
  &__video-image {
    aspect-ratio: 928/522;
  }
  // .content__video-button
  &__video-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 78px;
    height: 78px;
    border-radius: 20px;
    z-index: 1;
    transition:
      border,
      background 0.3s;
    @media (max-width: $mobile) {
      width: 58px;
      height: 58px;
    }
    img {
      width: toRem(23);
      height: toRem(25);
    }
  }
  // .content__copy
  &__copy {
    font-family: "Rubik";
    color: $white;
    font-size: toRem(48);
    @include adaptiveValue("font-size", 48, 30);
    line-height: 120%;
    letter-spacing: -2.88px;
    margin-bottom: toRem(90);
    margin-top: toRem(50);
    @media (max-width: $tablet) {
      letter-spacing: -2px;
    }
    @media (max-width: $mobile) {
      letter-spacing: -1px;
      margin-bottom: toRem(40);
      margin-top: toRem(40);
    }
    @media (max-width: $mobileSmall) {
      letter-spacing: -0.5px;
    }
  }
  // .content__borders-block
  &__borders-block {
    border-top: 2px solid $blue;
    border-bottom: 2px solid $blue;
    padding-top: toRem(64);
    padding-bottom: toRem(42);
    @media (max-width: $mobile) {
      padding-top: toRem(34);
      padding-bottom: toRem(34);
    }
  }
  // .content__subtitle
  &__subtitle {
    font-family: "Rubik";
    color: $blue;
    @include adaptiveValue("font-size", 32, 24);
    font-weight: 700;
    line-height: 70%;
    letter-spacing: -0.96px;
    text-transform: uppercase;
    margin-bottom: toRem(32);
    @media (max-width: $tablet) {
      line-height: 100%;
    }
  }
  // .content__game-name
  &__game-name {
    color: $white;
    font-size: toRem(180);
    @include adaptiveValue("font-size", 180, 60);
    font-weight: 700;
    line-height: 70%;
    text-transform: uppercase;
    position: relative;
  }
  // .content__game-logo
  &__game-logo {
    position: absolute;
    @include adaptiveValue("top", -56, -28);
    @include adaptiveValue("right", -14, 0);
    @include adaptiveValue("width", 157, 60);
  }

  &__img-section {
    position: relative;
    z-index: 2;
    overflow: hidden;
    background: $mainColor;
    height: 0;
  }
  &__full-img {
    background: url("@img/picture-fullw-2x.png") bottom center / cover no-repeat;

    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    max-height: 1000px;
    height: 100%;

    z-index: 2;
    @media (max-width: $mobile) {
      background: url("@img/picture-fullw.png") bottom center / cover no-repeat;
      @include adaptiveValue("margin-top", 120, 260, 0, 768, 375);
    }
  }

  // .content__text
  &__text {
    color: $white;
    @include adaptiveValue("font-size", 80, 42);
    font-weight: 700;
    line-height: 70%;
    text-transform: uppercase;
    margin-bottom: toRem(50);
    @media (max-width: $mobile) {
      margin-bottom: toRem(30);
      line-height: 100%;
    }
  }
  // .content__launch
  &__launch {
    color: $white;
    @include adaptiveValue("font-size", 180, 70);
    font-weight: 700;
    line-height: 70%;
    letter-spacing: -5.4px;
    text-transform: uppercase;
    @include adaptiveValue("margin-top", 110, 40);
    margin-bottom: toRem(30);
    @media (max-width: $tablet) {
      letter-spacing: -4px;
    }
    @media (max-width: $mobile) {
      letter-spacing: -1px;
      margin-top: toRem(40);
    }
    @media (max-width: $mobileSmall) {
      letter-spacing: -0.5px;
    }
  }
  // .content__buttons
  &__buttons {
    display: flex;
    align-items: center;
    gap: 24px;
    justify-content: center;
    @media (max-width: $mobileSmall) {
      flex-direction: column;
    }
  }
  // .content__button
  &__button {
    max-width: 333px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    img {
      max-width: 39px;
    }
  }
}
